@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*Se usar o parâmetro "text-transform: uppercase" todas as letras ficam em maiúscula*/
    font-variant: small-caps; /*Este parâmetro faz com que todas as letras fiquem em maiúscula, mas com as primeiras lutras maiores */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding: 10vh;
    line-height: 2em; /* Este parâmetro acrescenta espaçamento duplo nas linha, como se fosse o parágrafo do word*/
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: darkcyan;
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.404);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}