@charset "UTF-8";

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
h1 {
    color: lime;
    text-decoration: underline;
}
h2 {
    color: lime;
    text-decoration: underline;
}
p {
    color: white; text-align: justify;
}
a {
   color: yellow;
    
}